Package: wps-pushbutton-gui
Priority: optional
Section: net
Installed-Size: 1632
Maintainer: Andras Hrubak <andreas@uucp.hu>
Architecture: all
Version: 0.3
Depends: python-gtk2, python-inotifyx, python-wnck, python-setproctitle
Recommends:
Suggests: 
Provides: 
Replaces: 
Conflicts: 
Homepage: 
Vcs-Browser: https://github.com/bAndie91/wifi-wps-pushbutton-gui
Description: Virtual WPS push button
